<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Willkommen zum Webserver <%= title %></p>
    <p>Mein Name ist <%= name %></p>
    <p><a href="/secondPage">Zur zweiten Seite</a></p>
    <p><a href="/person">Formular</a></p>
    <p><a href="/neuePerson">Bday</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="/blog/newPost">NeuerPost</a></p>
  </body>
</html>
