<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="include/css/bootstrap.min.css">
    <script src = "include/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>Formular</h1>
    <form method = "get" action="/neuePerson">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <br>

        <label for="vorname">Vorname:</label>
        <input type="text" id="vorname" name="vorname" required>
        
        <br>

        <label for="wohnort">Wohnort:</label>
        <input type="text" id="wohnort" name="wohnort" required>
        
        <br>

        <label for="plz">PLZ:</label>
        <input type="text" id="plz" name="plz" required>
      
        <br>

        <label for="strasse">Strasse:</label>
        <input type="text" id="strasse" name="strasse" required>
    
        <br>

        <label for="hausnummer">Hasnummer:</label>
        <input type="text" name="hausnummer" id="hausnummer">
        
        <br>


        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>
        
        <br>

        <label for="bday">Bday:</label>
        <input type="date" name="bday", id="bday" required>
        <br>
        <input type="submit" value="send">
        

    </form>
</body>
</html>